/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */


#welcome {
  background-image: url(../images/soup.jpg);
  height: 400px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 160px;
  font-size: 2.7em;
}

h2{
  font-size: 1.5em;
}

#presentation{
  padding-top: 80px;
  align-content: center;
  text-align: center;
}

#presentation img {
 padding: 30px;
}

hr {
  background-color: black;
  height: 3px;
  width: 80%;
}

.description{
  font-size: 1.2em;
  margin: 0 auto;
  text-align: justify ;
  width: 80%;
  align-content: center;
  
}

#ingredients{
  font-size: 1em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#ingredients .subtitles{
  text-align: left;
  font-size: 1.4em;
  line-height: 50px;
  font-weight: bold;
}

#ingredients .ingredients-list{
  margin-left: 10px;
  font-size: .8em; 
  text-align: left;
  list-style:"-" ;
}

#ingredients img {
 padding-top: 50px;
}

#ingredients hr{
  background-color: black;
  height: 3px;
  width: 100%;
}

#directions{
  font-size: 1em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

#directions .subtitles{
  text-align: left;
  font-size: 1.4em;
  line-height: 50px;
  font-weight: bold;
}

#directions .directions-list{
  font-size: 1.1em; 
  text-align: left;
  list-style: decimal;
  padding-left: 22px;
}

#directions ol li::marker {
  content: counter(list-item) ") ";
}